body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

.section-3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.section-3-text-container{
  width: 500px;
  height: 100px;
  margin-bottom: 5px;
  
}

.section-3-text-container h1{
  font-size: 2rem;
}

.section-3-text-container p{
  font-size: 1rem;
}

.extension {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.extension-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 340px;
  border-radius: 10px;
  margin-right: 50px;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.051), -1px -1px 10px rgba(0, 0, 0, 0.051);
}

.extension-container2{
  margin-top: 80px;
}

.textstyle{
  margin-bottom: 0;
}

.extension-container3{
  margin-top: 150px;
}

.extension-container .bg-dots {
  margin-top: 5px;
  width: 250px;
}

.install-button {
  padding: 10px 20px;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.install-button:hover{
  background-color: #fff;
  color: hsl(231, 69%, 60%);
  text-decoration: none;
  border: 2px solid hsl(231, 69%, 60%);
}

@media screen and (max-width: 375px) {
  .extension {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 50px;
      height: 1200px;
    }

    .extension-container{
      margin-right: 0;
    }

    .extension-container2{
      margin-top: 0;
    }

    .extension-container3{
      margin-top: 0;
    }

  .section-3-text-container{
      width: 300px;
      height: 100px;
      
    }
  
    .section-3-text-container h1{
      font-size: 1.5rem;
    }
  
    .section-3-text-container p{
      font-size: 1rem;
    }
    
 
}
